.slider-container {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
.slider {
    width: 300px;
    height: 200px;
    overflow: hidden; 
}
.img-wrapper {
    transition: 500ms ease-out;
    display: flex;
}
.btn {
    height: fit-content;
    padding: 10px 25px;
    box-sizing: border-box;
    border: 1px solid cadetblue;
    border-radius: 10px;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 20px;
}
.btn:hover {
    box-shadow: 0 5px 5px rgb(3, 53, 55, 0.4), 0 5px 5px rgb(3, 53, 55, 0.4);
}